@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #836096;
  color: white;
  height: 8vh;
  position: sticky;
  top: 0;
}

.page {
  background-color: #F0B86E;
  min-height: 92vh;
}

.logo {
  font-size: 4vh;
  margin-right: 10px;
  margin-bottom: 5px;
}

.photo-card {
  width: 35vw;
  background-color: #836096;
  border-radius: 20px;
  transition: all 0.3s;
}

.photo-card:hover {
  transform: scale(1.05) rotate(3.5deg);
}

.img-box {
  height: 30vh;
  overflow: hidden;
}

.content-box {
  height: 10vh;
  color: white;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.wide-img {
  width: 100%;
  height: 92vh;
  position: relative;
}

.wide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wide-text {
  position: absolute;
  padding: 10px 20px;
  color: white;
  bottom: 0;
  width: 100%;
  background-color: rgba(131, 96, 150, 0.512);
}

.back {
  position: absolute;
  top: 20px;
  left: 30px;
  color: white;
  font-size: 50px;
}

/*utilities*/
.width-100 {
  width: 100vw;
}

.width-full {
  width: 100%;
}

.decoration-none {
  text-decoration: none;
  color: white;
}

.btn-yellow {
  background-color: rgb(235, 231, 108);
}

.btn-yellow:hover {
  background-color: rgb(240, 184, 110);
}

.btn-purple {
  background-color: #836096;
  color: white;
}

.btn-purple:hover {
  background-color: #5d446a;
  color: white;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}